<%- include partials/header.ejs %>

<h1>Contact</h1>

 <p>This is my contact page</p>
<p><b>Facebook</b></p>
<p><b>Github</b></p>
<p><b>Twitter</b></p>
</body>
</html>

<%- include partials/footer.ejs %>